.cart-dropdown-container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
    ::-webkit-scrollbar {
            width: 8px;
        }
    
        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgba(64,63,63,0.8);
            border-radius: 10px;
        }
    
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #2f2f2f;
            border-radius: 10px;
        }


    .empty-message {
        font-size: 18px;
        margin: 50px auto;
    }

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
     }

    button {
        margin-top: auto;
    
    }
}